/* NotoSans KR */
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 900;
  font-display: swap;
  src: local('NotoSansKR Black'), url('./fonts/NotoSansKR-Black.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 700;
  font-display: swap;
  src: local('NotoSansKR Bold'), url('./fonts/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 500;
  font-display: swap;
  src: local('NotoSansKR Medium'), url('./fonts/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 400;
  font-display: swap;
  src: local('NotoSansKR Regular'),
    url('./fonts/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 300;
  font-display: swap;
  src: local('NotoSansKR Light'), url('./fonts/NotoSansKR-Light.otf') format('opentype');
}

/* SecularOne */
@font-face {
  font-family: 'SecularOne';
  font-weight: 400;
  font-display: swap;
  src: local('SecularOne Regular'),
    url('./fonts/SecularOne-Regular.ttf') format('truetype');
}

/* FiraMono (Code) */

@font-face {
  font-family: 'FiraMono';
  font-weight: 700;
  font-display: swap;
  src: local('FiraMono Bold'), url('./fonts/FiraMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraMono';
  font-weight: 500;
  font-display: swap;
  src: local('FiraMono Medium'), url('./fonts/FiraMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraMono';
  font-weight: 400;
  font-display: swap;
  src: local('FiraMono Regular'), url('./fonts/FiraMono-Regular.ttf') format('truetype');
}
