$primary-color: #6b16ee;
$secondary-color: #4b4e52;

$accent-color: $primary-color;
$text-color: $secondary-color;
$text-color-80: rgba($secondary-color, 0.8);
$text-color-60: rgba($secondary-color, 0.6);
$border-color: rgba($secondary-color, 0.2);

$container-max-width: 1280px;
$document-max-width: 770px;
$document-padding: 0 20px;
$sidebar-width: 255px;
$header-height: 58px;
$header-offset: calc($header-height + 20px);
$toc-width: 255px;
