.footer {
  height: 112px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid $border-color;

  &_inner {
    padding: 24px 12px;
    max-width: $document-max-width;
    margin: 0 auto;
  }
}

.footer_social {
  margin-left: -6px;
  a {
    display: inline-block;
    margin: 0 6px;
    opacity: 0.5;

    svg {
      width: 16px;
      height: 16px;
      fill: $text-color;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.footer_copyright {
  font-size: 12px;
  color: $text-color;
  opacity: 0.5;
}

.footer_info {
  font-size: 12px;
  color: var(--text-base);
  opacity: 0.5;
  &:hover {
    opacity: 0.7;
    text-decoration: underline;
  }
}
