.nav_list {
  display: flex;
  align-items: center;
}

.nav_item {
  position: relative;

  & + & {
    margin-left: 16px;
    padding-left: 16px;
  }

  a {
    font-size: 16px;
    color: $text-color;
  }

  &:hover a {
    color: $primary-color;
  }
}
