.layout {
  position: relative;
  padding-top: $header-offset;
  max-width: $container-max-width;
  width: 100%;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: flex-end;
  padding-left: $sidebar-width;

  &_inner {
    width: 100%;
    max-width: $document-max-width;
    padding: $document-padding;
  }

  .toc_layer {
    width: 100%;
    max-width: $toc-width;
  }
}
