.note_container {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 12px;
  align-items: flex-start;

  & + & {
    margin-top: 30px;
    .note_head {
      margin-top: 38px;
    }

    .note_list {
      padding-top: 30px;
      border-top: 1px solid var(--border-color);
    }
  }
}

.note_head {
  position: relative;
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;

  .title {
    line-height: 1;
    position: relative;
    display: inline-block;
  }

  .badge {
    line-height: 1;
    padding-bottom: 2px;
    color: var(--primary-color);
    font-size: 14px;
    margin-left: 8px;
  }
}

.note_list {
  width: 100%;
}

@include mobile {
  .note_container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 0;

    & + & {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid var(--border-color);
      .note_head {
        margin-top: 0;
      }
      .note_list {
        border: 0;
        padding-top: 0;
      }
    }
  }

  .note_head {
    padding: 8px 0px 16px;
  }
}
