.category_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--border-color);
}

.category_title {
  align-self: flex-start;
  position: relative;
  padding-right: 24px;
  margin-right: 24px;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.category_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  column-gap: 14px;
  padding-top: 2px;
}

.category_item {
  font-size: 16px;
  color: var(--text-color);
  border-radius: 30px;
  text-transform: capitalize;
  transition: 0.3s ease;

  sup {
    margin-left: 2px;
    font-size: 12px;
    line-height: 1;
    color: var(--primary-color-lighten);
  }

  &:hover {
    text-decoration: underline;
  }
}

@include mobile {
  .category_container {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .category_item {
    &:hover {
      text-decoration: unset;
    }
  }
}
