.mdx_container {
  position: relative;
  width: 100%;
}

.mdx_heading {
  position: relative;
  border-bottom: 1px dashed var(--border-color);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.mdx_title {
  font-size: 34px;
  word-break: keep-all;
}

.mdx_date {
  font-size: 14px;
  word-break: keep-all;
  opacity: 0.5;
}

.mdx_additional {
  margin-top: 8px;
  display: flex;
}

.mdx_reading_time {
  display: flex;
  align-items: center;
  opacity: 0.6;
  margin-right: 20px;

  span {
    color: var(--text-color);
    margin-left: 4px;
  }

  svg {
    width: 16px;
    height: 16px;
    path {
      fill: var(--icon-color);
    }
  }
}
