.mdx_container {
  position: relative;
  width: 100%;
}

.mdx_heading {
  position: relative;
  border-bottom: 1px dashed $border-color;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.mdx_title {
  font-size: 34px;
  word-break: keep-all;
}

.mdx_date {
  font-size: 14px;
  word-break: keep-all;
  opacity: 0.5;
}

.mdx_copy {
  margin-top: 8px;
}
