.empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 200px;

  &_text {
    color: var(--text-color);
    font-size: 18px;
  }

  &_sub_text {
    opacity: 0.6;
    color: var(--primary-color);
    margin-bottom: 6px;
  }
}
