.search {
  position: relative;
  margin-bottom: 24px;
  padding: 0 8px;

  &_input {
    position: relative;
    width: 100%;
    padding: 10px 20px 10px 42px;
    border: 0;
    border-radius: 50px;
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--bg-component-color);
    font-size: 18px;
    transition: 0.3s ease;

    &::placeholder {
      opacity: 0.6;
    }
  }

  &_button {
    position: absolute;
    top: calc(50% + 1px);
    left: 24px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
  }

  &_icon {
    opacity: 0.6;
    line-height: 1;
    path {
      fill: var(--text-color);
      transition: 0.3s ease;
    }
  }
}

/* mobile */
@include mobile {
  .search {
    padding: 0 18px;

    &_input {
      padding: 6px 20px 6px 42px;
    }

    &_button {
      width: 16px;
      height: 16px;
      left: 33px;
    }
  }
}
