.series_tab {
  display: flex;
  align-items: center;
  padding: 10px 14px;
}

.series_label {
  position: relative;
  padding-right: 24px;
  margin-right: 24px;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  &:after {
    content: '';
    width: 2px;
    height: 20px;
    background-color: var(--border-color);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.series_item {
  cursor: pointer;
  padding: 2px 10px;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  text-transform: capitalize;

  &.selected {
    color: #fff;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
  }

  &:hover {
    color: #fff;
    border-color: var(--primary-color-lighten);
    background-color: var(--primary-color-lighten);
  }
}
