/* default */
@charset "utf-8";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'NotoSansKR', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
button,
iframe,
th,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
dt {
  font-weight: normal;
}
img,
fieldset,
iframe,
button {
  border: 0 none;
}
li {
  list-style: none;
}
i,
em,
u,
cite {
  font-style: normal;
}
a {
  color: #000;
  text-decoration: none;
  outline-offset: -1px;
  box-sizing: border-box;
}
.chrome a,
.safari a {
  outline-offset: -3px;
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}
select,
input,
textarea {
  outline: 0;
}
select,
input,
label {
  vertical-align: middle;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
button {
  border: 0 none;
  cursor: pointer;
  background: none;
}
select::-ms-expand {
  display: none;
}
select::-moz-focus-inner {
  border: 0;
  padding: 0;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 0;
}
body {
  width: 100%;
  overflow-x: hidden;
  word-break: keep-all;
  word-wrap: break-word;
  background: var(--bg);
}
* {
  font-size: inherit;
  line-height: 1.57em;
  color: var(--text-base);
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}

/* variables */
body {
  --bg: #fff;
  --accent: #2caa50;
  --shadow: #2c3e5015;
  --text-base: #000;
  --text-base-20: #2c3e5020;
  --text-base-40: #2c3e5040;
  --text-base-70: #2c3e5070;
  --text-base-90: #2c3e5090;
  --icon-color: #2c3e5070;
  --border-color: #00000016;
  --hover-base: #edf1f38a;
  --header-bg: #f9fafb50;
  --toggle-bg: #0101010a;
  --toggle-icon: var(--text-base-70);
  --toggle-border: #dfdfdf4d;
  --code-block: #eff2f6;
  --card-bg: #fff;
  --card-border: #ececf3;
  --mdx-border: #2c3e5040;
  --mdx-icon-color: #2c3e5070;
  --mdx-icon-bg: #dfdfdf4d;
}

body[data-theme='dark'] {
  --bg: rgb(23, 23, 23);
  --bg: #292929;
  --accent: #8ddb8c;
  --shadow: #13161640;
  --text-base: #dfdfdf;
  --text-base-20: #dfdfdf20;
  --text-base-40: #dfdfdf40;
  --text-base-70: #dfdfdf70;
  --text-base-90: #dfdfdf90;
  --icon-color: #ffffff20;
  --border-color: #ffffff16;
  --hover-base: #232323;
  --header-bg: #21212150;
  --toggle-bg: #ffffff20;
  --toggle-icon: var(--text-base-70);
  --toggle-border: #eeeefb20;
  --code-block: #232323;
  --card-bg: #212121;
  --card-border: var(--text-base-40);
  --mdx-border: #dfe2e535;
  --mdx-icon-color: #dfdfdf70;
  --mdx-icon-bg: #eeeefb20;
}
