.layout {
  position: relative;
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: center;

  &_inner {
    width: 100%;
    max-width: $document-max-width;
    padding: $document-padding;
    overflow: hidden;
  }

  .toc_layer {
    position: fixed;
    width: $toc-width;
    right: calc((100vw - $document-max-width) / 2 - $toc-width);
  }
}
